.ability-btn {
    width: 80%;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    background: linear-gradient(135deg, #AB00FF, #7A00D4);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 0 auto;
}

.ability-btn:hover {
    background: linear-gradient(135deg, #7A00D4, #AB00FF);
    transform: translateY(-2px);
    box-shadow: 0 6px 20px #C24CFF;
}

.ability-btn.active {
    background: linear-gradient(135deg, #C24CFF, #7A00D4);
    color: black;
    transform: scale(1.05);
    box-shadow: 0 4px 30px #C24CFF;
    animation: pulse 1.5s infinite alternate;
}

.skin-btn {
    width: 40%;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    background: linear-gradient(135deg, #AB00FF, #6600A8);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    box-shadow: 0 4px 12px #C24CFF;
}

.skin-btn:hover {
    background: linear-gradient(135deg, #6600A8, #AB00FF);
    transform: translateY(-4px);
    box-shadow: 0 6px 20px #C24CFF;
}

.skin-btn.active {
    background: linear-gradient(135deg, #D580FF, #6600A8);
    color: black;
    transform: scale(1.05);
    animation: pulse 1.5s infinite alternate;
    box-shadow: 0 4px 30px #C24CFF;
}
